<div class="container">
  <br>
  <h3 style="text-align: center">MY LOAN</h3>
  <br>
  <button mat-raised-button color="primary"  (click)="BackButton()"><mat-icon>keyboard_backspace</mat-icon>BACK</button>
  <br>
  <br>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="loan_amount">
      <th mat-header-cell *matHeaderCellDef> Loan Amount </th>
      <td mat-cell *matCellDef="let element"> {{element.loan_amount}} </td>
    </ng-container>
    <br>

    <ng-container matColumnDef="issued_date">
      <th mat-header-cell *matHeaderCellDef> Loan Issued Date </th>
      <td mat-cell *matCellDef="let element"> {{element.loan_issued_date | date :'dd-MM-yyyy'}} </td>
    </ng-container>

    <ng-container matColumnDef="loan_reason">
      <th mat-header-cell *matHeaderCellDef> Loan Reason </th>
      <td mat-cell *matCellDef="let element"> {{element.loan_reason}} </td>
    </ng-container>
    <br><br>
    <ng-container matColumnDef="loan_status">
      <th mat-header-cell *matHeaderCellDef> Loan Status </th>
      <td mat-cell *matCellDef="let element"> {{element.loan_status}} </td>
    </ng-container>
    <br>
    <ng-container matColumnDef="duration">
      <th mat-header-cell *matHeaderCellDef>Loan Duration In Months </th>
      <td mat-cell *matCellDef="let element">{{element.loan_months}}</td>
    </ng-container>
    <br>

    <ng-container matColumnDef="payment_per_month">
        <th mat-header-cell *matHeaderCellDef> Payment(Per Month) </th>
        <td mat-cell *matCellDef="let element"> {{element.pay_per_month}} </td>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[3,5,10]"></mat-paginator>
</div>
