<br><br>
<h1 style="text-align: center">Personal Loan</h1>
<br>
<br>
<button (click)="onMyLoanButton()" mat-raised-button color="primary">My Loan</button>
<br>
<form class="example-form" (ngSubmit)="addForm(f1)" #f1="ngForm">
  <mat-form-field class="example-full-width">
    <input matInput type="number" placeholder="Enter Amount to be withdraw" type="number" [(ngModel)]="loan_amount" name="loan_amount" id="loan_amount" #amt="ngModel" required>
  </mat-form-field>

  <div [hidden]="amt.valid || amt.untouched">
    <div [hidden]="!amt?.errors?.required"></div>
    <mat-error>Loan Amount is required*</mat-error>
  </div>
  <br>

<mat-form-field>
    <mat-label>Enter reason for withdrawal</mat-label>
    <textarea [(ngModel)]="loan_reason" name="loan_reason" id="loan_reason" #reason="ngModel" required matInput
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="2"
              cdkAutosizeMaxRows="5"></textarea>
  </mat-form-field>
  <div [hidden]="reason.valid || reason.untouched">
    <div [hidden]="!reason?.errors?.required"></div>
    <mat-error>Loan Reason is required*</mat-error>
  </div>
  <br>
  <mat-radio-group [(ngModel)]="loan_months" name="loan_months" type="number" id="loan_months" #month="ngModel" required>
    <mat-radio-button [value]="6">6 Months</mat-radio-button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <mat-radio-button [value]="8">8 Months</mat-radio-button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <mat-radio-button [value]="12">12 Months</mat-radio-button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </mat-radio-group>
  <div [hidden]="month.valid || month.untouched">
    <div [hidden]="!month?.errors?.required"></div>
    <mat-error>Loan Month is required*</mat-error>
  </div>
  <br>
  <br>
  <a style="margin-left:380px;color: blue" (click)="onterms()"><u>Terms & Condition</u></a>
  <br>
   <mat-checkbox style="margin-left:350px"  name="agree" id="agree" value="1" (change)="item()" [(ngModel)]="c1"  checked  required #chk1>I Agree Terms And Condition</mat-checkbox>


  <br>
  <br>
  <br>
  <button [disabled]="!f1.valid" *ngIf="!flag1" (click)="onAddLoanButton()" style="margin-left:300px;width: 200px" mat-raised-button color="primary"><mat-icon>add</mat-icon>Apply for Loan</button>
