<!-- <mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>

      <a mat-list-item routerLink='personalloan'>Personal Loan</a>
      <a mat-list-item (click)="onprofile()">My Profile</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Manager Kalpataru Furniture</span>
    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
 -->


<header class="header">
  <div class="header_content d-flex flex-row align-items-center justify-content-start">
    <!-- Hamburger -->
    <div class="hamburger menu_mm"><i class="fa fa-bars menu_mm" aria-hidden="true"></i></div>
    <!-- Logo -->
    <div class="header_logo">

    </div>
  </div>
</header>
<div class="sidebar">
  <!-- Logo -->
  <div class="sidebar_logo">
      <img src="../../../assets/images/kalpatarulogo.jpg" style="height:100px;width:200px;">
  </div>
  <!-- Sidebar Navigation -->
  <nav class="sidebar_nav">
    <ul>
      <!-- <li><a routerLink="mywork">My Work<i class="fa fa-angle-right" aria-hidden="true"></i></a></li> -->
      <li><a routerLink='personalloan'>PersoalLoan<i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
      <li><a routerLink='addleave'>Add Leave<i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
      <li><a style="color:white" (click)="onprofile()">MyProfile<i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
      <li><a (click)="onlogout()">LogOut<i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
      <!-- <li><a routerLink='myprofile/:email'>MyProfile<i class="fa fa-angle-right" aria-hidden="true"></i></a></li> -->
    </ul>
  </nav>
  <!-- Search -->
  <!-- <div class="search">
    <form action="#" class="search_form" id="sidebar_search_form">
      <input type="text" class="search_input" placeholder="Search" required="required">
      <button class="search_button"><i class="fa fa-search" aria-hidden="true"></i></button>
    </form>
  </div> -->
</div>
<div style="margin-left: 20%;">
<router-outlet></router-outlet>
</div>
