<div class="container">
  <h2 style="text-align: center">Employee Salary</h2>
  <button  mat-raised-button color="primary" (click)="onpendingsalary()">Pending Salary</button>
  <!-- <a routerLink='../pendingsalary'>Pending Salary</a><br> -->
  <button  mat-raised-button color="primary" style="margin-left:750px;" (click)="ondonesalary()">Done Salary</button>
  <!-- <a routerLink='../donesalary'>Done Salary</a> -->
  <br>
  <br>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="employee_name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.employee_name}} </td>
    </ng-container>
    <br>
    <ng-container matColumnDef="employee_salary">
      <th mat-header-cell *matHeaderCellDef> Salary </th>
      <td mat-cell *matCellDef="let element"> {{element.employee_salary}} </td>
    </ng-container>
    <br>
    <ng-container matColumnDef="employee_joining_date">
      <th mat-header-cell *matHeaderCellDef> Joining Date </th>
      <td mat-cell *matCellDef="let element"> {{element.employee_joining_date | date :'dd-MM-yyyy'}} </td>
    </ng-container>
    <br>
    <ng-container matColumnDef="employee_designation">
      <th mat-header-cell *matHeaderCellDef>Designation </th>
      <td mat-cell *matCellDef="let element">{{element.employee_designation}}</td>
    </ng-container>
    <br>
    <ng-container matColumnDef="employee_mobileno">
      <th mat-header-cell *matHeaderCellDef>Contact </th>
      <td mat-cell *matCellDef="let element">{{element.employee_mobileno}}</td>
    </ng-container>
    <br>
    <ng-container matColumnDef="employee_city">
      <th mat-header-cell *matHeaderCellDef>City </th>
      <td mat-cell *matCellDef="let element">{{element.employee_city}}</td>
    </ng-container>
    <br>
    <ng-container matColumnDef="employee_gender">
      <th mat-header-cell *matHeaderCellDef>Gender </th>
      <td mat-cell *matCellDef="let element">{{element.employee_gender}}</td>
    </ng-container>
    <br>
    <ng-container matColumnDef="salary_status">
      <th mat-header-cell *matHeaderCellDef>Status </th>
      <td mat-cell *matCellDef="let element">{{element.salary_status}}</td>
    </ng-container>
    <br>
    <ng-container matColumnDef="Action">
      <th mat-header-cell *matHeaderCellDef>Action </th>
      <td mat-cell *matCellDef="let element">
        <button *ngIf="element.salary_status!='Done'" (click)="UpdateStatus(element)" mat-raised-button color="primary" ><mat-icon>update</mat-icon>Paid</button>&nbsp;&nbsp;&nbsp;
          <!-- <button *ngIf="element.order_status=='Order Delivered'" (click)="UpdateStatus(element)" mat-raised-button color="primary" ><span class="glyphicon glyphicon-trash"  aria-hidden="true"></span></button>&nbsp;&nbsp;&nbsp; -->
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[3,5,10]"></mat-paginator>
</div>
