<h2 style="text-align: center">TERMS & CONDITION</h2>
<br>
<br>
<mat-icon>trending_flat</mat-icon>Personal Loan is granted for marriage/medical treatment/ education or any other general purpose except for any speculative activities.
<br>
<br>
<mat-icon>trending_flat</mat-icon>Salaried employees From Kalptaru Furniture are eligible to avail Personal Loan.
<br>
<br>
<mat-icon>trending_flat</mat-icon>Fixed Rate of Interest:- Only 2 Percent Of Interest On Personal Loan.
<br>
<br>
<mat-icon>trending_flat</mat-icon>Interest on the amount of the loan will be applied at the prevailing rate per annum on daily reducing balance with monthly rests.
<br>
<br>
<mat-icon>trending_flat</mat-icon>Maximum Duration Of Loan(in Month) Is 12 Months.
<br>
<br>
<mat-icon>trending_flat</mat-icon>Minium Duration Of Loan(in Months) Is 3 Months.
<br>
<br>
<br>
<button (click)="onback()" style="width: 200px" mat-raised-button color="primary"><mat-icon>keyboard_backspace</mat-icon>BACK</button>
