 body{
  background: url(../../../assets/images/testmonial-bg.jpg);
}
.container{
  width: 70%;
  height: 400px;
  background: #fff;
  margin: 0 auto;
  border: 2px solid #fff;
  box-shadow: 0 15px 40px rgba(0,0,0,.5);
}
.container .left{
  margin-left: -13px;
  float: left;
  width: 50%;
  height: 395px;
  background: url(../../../assets/images/box_1.jpg);
  background-size: cover;
  box-sizing: border-box;
}
.container .right{
  margin-left: -13px;
  margin-top: -2px;
  float: right;
  width: 50%;
  height: 395px;
  box-sizing: border-box;
}
.formBox{
  width: 100%;
  padding: 80px 40px;
  box-sizing: border-box;
  height: 400px;
  background: #fff;
}
.formBox p{
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: #a6af13;
}
.formBox input{
  width: 80%;
  margin-bottom: 20px;
}
.formBox input[type="text"],
.formBox input[type="password"]{
  border: none;
  border-bottom: 2px solid  #a6af13;
  outline: none;
  height: 40px;
}
.formBox input[type="text"]:focus,
.formBox input[type="password"]:focus
{
  border-bottom:  2px solid #262626;
}
.formBox input[type="submit"]{
  border: none;
  outline: none;
  height: 40px;
  color: #fff;
  background: #262626;
  cursor: pointer;
}
.formBox input[type="submit"]:hover{
  background: #a6af13;
  font-size: 12px;
  font-weight: bold;

}
