<h4 style="text-align: center">MY WORK</h4>
<br>
<div class="container">

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="order_id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Order Id </th>
        <td mat-cell *matCellDef="let element"> {{element.order_id}} </td>
      </ng-container>

      <ng-container matColumnDef="user_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>User Name</th>
        <td mat-cell *matCellDef="let element"> {{element.user_name}} </td>
      </ng-container>

      <ng-container matColumnDef="order_amount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Order Amount</th>
        <td mat-cell *matCellDef="let element"> {{element.order_amount}} </td>
      </ng-container>

      <!-- <ng-container matColumnDef="product_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Product Name</th>
        <td mat-cell *matCellDef="let element"> {{element.product_name}} </td>
      </ng-container> -->

      <ng-container matColumnDef="contact_no">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Contact No</th>
        <td mat-cell *matCellDef="let element"> {{element.user_mobileno}} </td>
      </ng-container>

      <ng-container matColumnDef="fk_user_email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>User Email</th>
        <td mat-cell *matCellDef="let element"> {{element.fk_user_email}} </td>
      </ng-container>

      <ng-container matColumnDef="Address">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Address</th>
        <td mat-cell *matCellDef="let element"> {{element.user_address}} </td>
      </ng-container>

      <!-- <ng-container matColumnDef="order_status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Order Status</th>
        <td mat-cell *matCellDef="let element"> {{element.order_status}} </td>
      </ng-container>

      <ng-container matColumnDef="Delievery Assign To">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Delievery Assign</th>
        <td mat-cell  *matCellDef="let element">
          <label  value="element.delievery_assign" aria-disabled="false" *ngIf="element.order_status=='Shipment' || element.order_status=='Order Delivered'">{{element.delievery_assign}}</label>
          <input type="text" *ngIf="element.order_status=='Product Dispatched'" [(ngModel)]="element.delievery_assign">
        </td>
        <td mat-cell *matCellDef="let element">{{element.delievery_assign}}</td>
      </ng-container> -->

      <ng-container matColumnDef="Action">
          <th mat-header-cell *matHeaderCellDef>Action </th>
          <td mat-cell *matCellDef="let element">
              <button *ngIf="element.order_status=='Shipment'" (click)="UpdateStatus(element)" mat-raised-button color="primary" ><mat-icon>update</mat-icon>Delievery Done</button>&nbsp;&nbsp;&nbsp;
              <!-- <button *ngIf="element.order_status=='Order Delivered'" (click)="UpdateStatus(element)" mat-raised-button color="primary" ><span class="glyphicon glyphicon-trash"  aria-hidden="true"></span></button>&nbsp;&nbsp;&nbsp; -->
          </td>
        </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let element; columns: displayedColumns;">
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[3,5,10]"></mat-paginator>
  </div>
</div>
