<div class="container">

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="bill_detail_id">
      <th mat-header-cell *matHeaderCellDef> Bill-Details Id </th>
      <td mat-cell *matCellDef="let element"> {{element.bill_detail_id}} </td>
    </ng-container>
    <br>
    <ng-container matColumnDef="fk_bill_id">
      <th mat-header-cell *matHeaderCellDef> Fk Bill_id </th>
      <td mat-cell *matCellDef="let element"> {{element.fk_bill_id}} </td>
    </ng-container>
    <br>
    <ng-container matColumnDef="fk_product_id">
      <th mat-header-cell *matHeaderCellDef> Fk Product_Id </th>
      <td mat-cell *matCellDef="let element"> {{element.fk_product_id}} </td>
    </ng-container>
    <br>
    <ng-container matColumnDef="bill_price">
      <th mat-header-cell *matHeaderCellDef> Bill Price </th>
      <td mat-cell *matCellDef="let element"> {{element.bill_price}} </td>
    </ng-container>
    <br>
    <ng-container matColumnDef="bill_qty">
      <th mat-header-cell *matHeaderCellDef> Qty </th>
      <td mat-cell *matCellDef="let element"> {{element.bill_qty}} </td>
    </ng-container>
    <br>
    <ng-container matColumnDef="bill_remarks">
      <th mat-header-cell *matHeaderCellDef> Remarks </th>
      <td mat-cell *matCellDef="let element"> {{element.bill_remarks}} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
