<form >
    <div class="container">
        <div class="form-group">
          <h2>Forget Password</h2>
          <form class="example-form" (ngSubmit)="addForm(f1)" #f1="ngForm">
          <mat-form-field class="example-full-width" style="width: 500px;">

            <input matInput  placeholder="Enter Email Id" id="email" required
            name="email"
            #emailid="ngModel" [(ngModel)]="email">
          </mat-form-field>
          <div [hidden]="emailid.valid || emailid.untouched">
            <div [hidden]="!emailid?.errors?.required"></div>
            <mat-error>Email Id Is required</mat-error>
          </div>
          <br>
          <button mat-raised-button color="primary" [disabled]="!f1.valid" (click)="onforget()">Done</button>&nbsp;&nbsp;
          <!-- <button mat-raised-button color="primary" (click)="onforget()">Done</button> -->
          <button mat-raised-button color="primary" (click)="oncancel()">Cancel</button>


    </form>
